header h1{
    padding-top:20px;
    font-size:40pt;
    position:fixed;
    top:0px;
    height:200px;
    width:90%;

}

.fixed-top{

}

section{
    padding:20px;
}

section h3{
    font-size:28pt
}
section h3{
    font-size:24pt
}


footer h3{
    font-size:28pt
}

.center-middle{
    position:fixed;
    top:20%;
}

.center-top{
    position:fixed;
    top:10%;
}

.inline{
    display:inline-block;
}
.fixed-bottom{
    position:fixed;
    bottom:0px;
    height:100px;
    width:90%;
}

.fixed-bottom hr{
    border: 1px solid yellow
}

figure.banner img{
    height:50%;
}

figure.banner2 img{
    height:80%;
}

figure.banner3 img{
    height:60%;
}

figure.banner4 img{
    height:15%;
    margin: 0;
}

.para{
    font-size: 14pt;
}

figure.small-banner img{
    height:450px;
}


figure.logo{
    width:100%;
    text-align: center;
}
figure.logo img{
    padding-top:10px;
    width:300px;

}